PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/careerdrive?retryWrites=true&w=majority
JWT_SECRET=careerdrive_jwt_super_secret_change_this_in_production
CLIENT_URL=http://localhost:5173
NODE_ENV=development
